<% @name_array = [User.first.name,User.second.name, User.third.name, User.fourth.name, User.fifth.name] %>
<% @followers_array = [User.first.followers.count,
  User.second.followers.count,
  User.third.followers.count, 
  User.fourth.followers.count, 
  User.fifth.followers.count] %>
<% @following_array = [User.first.following.count,
  User.second.following.count, 
  User.third.following.count, 
  User.fourth.following.count,   
  User.fifth.following.count] %>
<% 
@chart = LazyHighCharts::HighChart.new('graph') do |f|
  f.title(text: "Following & Followers")
  f.xAxis(categories: @name_array)
  f.series(name: "Followers", yAxis: 0, data: @followers_array)
  f.series(name: "Following", yAxis: 1, data: @following_array)

  f.yAxis [
    {title: {text: "Number", margin: 70} },
    {title: {text: ""}, opposite: true},
  ]

  f.legend(align: 'right', verticalAlign: 'top', y: 75, x: -50, layout: 'vertical')
  f.chart({defaultSeriesType: "column"})
end

%>



<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>


      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>

  </div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

<% end %>




<%= high_chart("some_id", @chart) %>
